<div>
    Versions can be specified in one of two ways:<br>
    <ol>
        <li>
            Component Versions:
            Each component-version pair should be on a separate line.
            Separate each component and version number with a colon. Example- My Component:2.5
        </li>
        <li>
            SNAPSHOT:
            Specify the name of a single SNAPSHOT to deploy.
            Indicate a Snapshot by prepending the word SNAPSHOT and an equals to the Snapshot name. Example- SNAPSHOT=Name
        </li>
    </ol>
</div>
